body{
    /* background-image: url(img/ideias-tabble.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; */
    background-color: black;
    
}

header{
    height: 75px;
    background-color: black;
    border: 1px solid wheat;

}

.invisible{
    height: 75px    ;
}
.dropdown{
    margin-right: 50px;
    height: 20px;
  
}
.info-form{
    border-radius: 6px;
    background-color: whitesmoke;
}
.produtor{
    width: 150px;
    text-decoration: none;
}
.produtor p{
    margin-top: 10px;
    font-size: 12px;
    color: whitesmoke;
    

}
.nav-bar {
    display: flex;
}
.nav-btn{
    width: 100px;
}

.container-card{
    display: flex;
    flex-wrap: wrap;
    
}

header img{
    margin-left: 50px;
    width: 120px;
    height: 50px;
}


.form-row-img iframe{
    border: 0.2px solid gray;
    width: 600px;
    height: 400px;
    box-sizing: border-box;

}



.form-row-img img{
  display: flex;  
  width: 600px;
  height: 300px;
  align-items: center;
}


footer{
    width: 100%;
    text-align: center;
    height: 100px;
    
}

.subtitulo{
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

form h3{
    position: relative;
    top:25px;
    font-size: 14px;
    color: black;
    font-weight: bold;
    opacity: 80%;
   
    
}

.div-subtit{
    border: 1px solid black;
    
}


.info-basics{
    
    border-radius: 6px;
    max-height: 2000px;
    min-height: 1200px;
    box-sizing: border-box;


}

.info-basics h2{
    font-size: 18px ;
}

.info-basics p{
    font-size: 14px;
    margin-top: 0;
}

.info-img span{
    font-weight: bold;

}
.info-img div{
    border: 1px solid black;
}
.info-img{
    align-self: center;
    align-items: center;
    min-height: 500px;
    max-height: 600px;
    border: 1px solid black;
    justify-content: space-around;
    gap: 2px;
}
.info-img p{
    font-size: 14px;
}
#inputgroupfile{
    border: 1px solid gray;
    width: 300px;
    height: 200px;
    cursor: pointer;
}


.descritivo textarea{
    height: 300px;
}

.hora_data input{
    width: 160px;
    padding: 5px;
    color: black;
    text-align: center;
    border-radius: 4px;
    
}
.hora_data{
    /* border: 1px solid black; */
    padding-top: 20px;
}
.display-inicio{
    /* border: 1px solid red; */
}

.display-fim{
    /* border: 1px solid red; */
}