body{
    /* background-image: url(img/ideias-tabble.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; */
    background-color: black;
    
    
}

div{
    font-family: Verdana, Tahoma, sans-serif;
}

/* DIV PARA NÃO DEIXAR O FIXADO COBRIR OUTROS 
EMENTTOS NO TOPO 


.invisible{
    height: 75px;
} */

/* TOPO DA PÁGINA  */

nav{
    height: 60px;
    background-color: #444;

   
}


.info-form{
    border-radius: 6px;
    /* background-color: whitesmoke; */
}


.container, .container-fluid{
    border-radius: 6px;
}

ul .form-control{
    background-color: #444;
    color: white;
    border: none;
}

.container-card{
    display: flex;
    flex-wrap: wrap;
    
}

.navbar-collapse a::before{
    content: " ";
    width: 20px;
}

.navbar-nav a:hover{
    border-radius: 6px;
    background-color: #333;
    color: white;
    font-size: 15px;
    transition: 300ms;
}
.navbar-nav a{
    font-size: 14px;
    color: white;
    text-decoration: none;
}
.nav-btn{
    color: #fff;
}
.nav-btn:hover{
    border-radius: 6px;
    background-color: #555;
}

.navbar-toggler-icon{
    color: white;

}
.navbar-toggler{
    background-color: white;
    color: white;

}
.dropdown-menu a{
    color: black;
}
.dropdown-menu a:hover{
    color: white;
    background-color: cornflowerblue;
}

nav img{
    width: 100px;
    height: 40px;
}

/* SUBTITULO */

.subtitulo{
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}


/* FORMULÁRIO - LOCAL */

.form-row-img iframe{
    border: 0.2px solid gray;
    width: 600px;
    height: 400px;
    box-sizing: border-box;

}

.form-row-img img{
  display: flex;  
  width: 600px;
  height: 300px;
  align-items: center;
}


form h3{
    position: relative;
    top:25px;
    font-size: 14px;
    color: black;
    font-weight: bold;
    opacity: 80%;
    
}

/* INFORMAÇÕES BASICAS */

.info-basics{
    /* background-color: whitesmoke; */
    border-radius: 6px;
    min-height: 1200px;
    max-height: 3000px;
    box-sizing: border-box;

}

.info-basics h2{
    font-size: 18px ;
}

.info-basics p{
    font-size: 14px;
    margin-top: 0;
}

.picture{
    border: 2.5px dashed;
}

.picture span{
    font-weight: bold;

}

.img-logo:hover{
    background-color: #eee;
    border: 1px dashed cornflowerblue;
    transition: 300ms ease-in-out;
    text-shadow: 0.5px 0.5px 0.2px black;
}



.img-capa:hover{
    background-color: #eee;
    text-shadow: 0.5px 0.5px 0.2px black;
    border: 1px dashed cornflowerblue;
    transition: 300ms ease-in-out;
   
}

.img-capa{
    max-width: 600px;
    max-height: 360px;
    min-width: 300px;
    min-height: 200px;
    cursor: pointer;
}
.img-logo{
    max-width: 432px;
    max-height: 280px;
    min-width: 300px;
    min-height: 200px;
    cursor: pointer;
}
.picture i{
    margin-top: 50px;
}
.picture small{
    font-size: 12px;
    padding: 10px;
    margin-top: 50px;
}

#input-img{
    display: none;
    cursor: pointer;
}

.descritivo textarea{
    height: 200px;
}

.hora_data input{
    width: 160px;
    padding: 5px;
    color: black;
    text-align: center;
    border-radius: 4px;

}

.local-opt select{
    font-size: 12px;
}
.estados-opt select{
    font-size: 12px;

}
.hora_data p{
    font-size: 12px;

}

.evento-categoria{
    min-height: 100px;
    max-height: 300px;
}
.evento-categoria option{
    font-size: 12px;
}

.evento-categoria select{
    font-size: 12px;
    padding: 10px;
}


/* INGRESSOS / TICKETS */

.cont-ingressos{
    min-height: 1000px;
    max-height: 3000px;
}

.ingressos{
    max-height: 3000px;
}
.ingressos a{
    border: 1px solid black;
    height: 160px;
    width: 200px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}

.h-ingresso{
    min-height: 300px;
    max-height: 2000px;
}
.criar-ingresso{
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-items: center;
    align-items: start;
    min-height: 200px;
    max-height: 1200px;
    justify-content: space-around;
}

.criar-tkt{
    background-color:whitesmoke;
    
}

.bi-star-fill{
    font-size: 36px;
    transition: 300ms ease-in-out;
}
.bi-ticket-detailed-fill{
    font-size: 36px;
}

.criar-tkt:hover{
    background-color: cornflowerblue;
    color:#fff;
    transition: 300ms ease-in-out;
}

.bi-star-fill:hover{
    color: #fff;
}

/* TICKETS - TABELA */

.tkt-table{
    min-height: 600px;
    max-height: 3000px;
}


/* TERMOS & RESPONSABILIDADE */

.termos input:checked{
    background-color:cornflowerblue;
    width: 18px;
    height: 18px;
    color: white;
    border: 1px solid cornflowerblue;
    box-shadow: none;
    transition: 100ms ease-out;
}


.termos input{
    cursor: pointer;
}


.cont-fim{
    min-height: 400px;
    max-height: 1000px;
}
.terms-btn{
    border: 1px solid black;
    min-height: 100px;
    max-height: 1000px;
}

/* PUBLICAR - VISUALIZAR - SALVAR */





footer{
    margin-top: 49px;
    display: flex;
    text-align: center;
    height: 200px;
    justify-content: center;
    align-items: center;
}




