*{
    margin: 0;
    padding: 0;
}

footer{
    height: 200px;
    width: 100%;
    box-sizing: border-box;
}
footer img{
    width: 200px;
    height: 80px;
}

.info-form{
    height: 400px;
}

.dropdown{
    border: none;
    background-color: white;
    color: black;
    width: 100px;
    height: 80px;
    
}


button{
    border: none;
    background-color: white;
    color: black;
    width: 100px;
    height: 80px;
    
}

