body{
    /* background-image: url(img/ideias-tabble.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; */
    background-color: black;
    
    
}

div{
    font-family: Verdana, Tahoma, sans-serif;
}

/* DIV PARA NÃO DEIXAR O FIXADO COBRIR OUTROS 
EMENTTOS NO TOPO */


.invisible{
    height: 75px;
}

/* TOPO DA PÁGINA  */

nav{
    height: 75px;
    background-color: black;
    border: 1px solid wheat;
    display: flex;
    width: 100%;
}




.dropdown{
    margin-right: 50px;
    height: 20px;
  
}
.info-form{
    border-radius: 6px;
    /* background-color: whitesmoke; */
}
.produtor{
    width: 150px;
    text-decoration: none;
}
.produtor p{
    margin-top: 10px;
    font-size: 12px;
    color: whitesmoke;
    

}

.nav-btn{
    width: 100px;
}

.container-card{
    display: flex;
    flex-wrap: wrap;
    
}


nav img{
    margin-left: 50px;
    width: 120px;
    height: 50px;
}

/* SUBTITULO */

.subtitulo{
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}


/* FORMULÁRIO - LOCAL */

.form-row-img iframe{
    border: 0.2px solid gray;
    width: 600px;
    height: 400px;
    box-sizing: border-box;

}

.form-row-img img{
  display: flex;  
  width: 600px;
  height: 300px;
  align-items: center;
}


form h3{
    position: relative;
    top:25px;
    font-size: 14px;
    color: black;
    font-weight: bold;
    opacity: 80%;
    
}

/* INFORMAÇÕES BASICAS */

.info-basics{
    /* background-color: whitesmoke; */
    border-radius: 6px;
    min-height: 1200px;
    max-height: 3000px;
    box-sizing: border-box;

}

.info-basics h2{
    font-size: 18px ;
}

.info-basics p{
    font-size: 14px;
    margin-top: 0;
}

.picture{
    border: 2.5px dashed;
}

.picture span{
    font-weight: bold;

}


.img-capa{
    max-width: 940px;
    max-height: 360px;
    min-width: 400px;
    min-height: 200px;
}
.img-logo{
    width: 300px;
    height: 200px;
}

.img-capa small{
    font-size: 14px;

}
.img-logo small{
    font-size: 12px;

}

#inputgroupfile{
    display: none;
    cursor: pointer;
}

.descritivo textarea{
    height: 200px;
}

.hora_data input{
    width: 160px;
    padding: 5px;
    color: black;
    text-align: center;
    border-radius: 4px;

}

.local-opt select{
    font-size: 12px;
}
.estados-opt select{
    font-size: 12px;

}
.hora_data p{
    font-size: 12px;

}

.evento-categoria{
    min-height: 100px;
    max-height: 300px;
}
.evento-categoria option{
    font-size: 12px;
}

.evento-categoria select{
    font-size: 12px;
    padding: 10px;
}


/* INGRESSOS / TICKETS */

.cont-ingressos{
    min-height: 1200px;
    max-height: 3000px;
}

.ingressos a{
    border: 1px solid black;
    height: 160px;
    width: 200px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}

.criar-ingresso{

}


footer{
    margin-top: 50px;
    display: flex;
    text-align: center;
    height: 200px;
    justify-content: center;
    align-items: center;
}




